name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "pypy-3.10"]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install -U coverage flake8
    - name: Run tests
      run: |
        coverage run --include="cdblib/*.py" -m unittest
    - name: Check coverage
      run: |
        coverage report --show-missing --fail-under=99.0
    - name: Lint with flake8
      run: |
        flake8 .
    - name: Build docs with sphinx
      if: "matrix.python-version == '3.10'"
      run: |
        pip install -r docs/requirements.txt
        sphinx-build -W -b html docs docs/_build/html
    - name: Build packages
      if: "matrix.python-version == '3.10'"
      run: |
        pip install -U twine wheel
        python setup.py sdist bdist_wheel
        twine check dist/*
    - name: Upload packages
      if: "matrix.python-version == '3.10'"
      uses: actions/upload-artifact@v4
      with:
        name: python-pure-cdb-packages
        path: dist/*
